* {
    margin: 0;
    padding: 0;
    color: #004165;
    font-family: 'Brandon Grotesque';
}

nav {
    margin: 25px 0 0;
    display: flex;
    position: absolute;
    align-items: center;
}
nav img {

}
nav ul {
    display: inline-flex;
}

nav li {
    list-style: none;
    text-align: center;
    color: #004165;
    font-size: 11px;
    margin: 0 27px;
    font-weight: bold;
}
.cont-home{
    display: flex;
}
.tag{
    font-size: 17px;
    margin-bottom: 15px;
}
.home {
    position: relative;
}

.home h1{
    font-size: 66px;
    color: #004165;
    text-transform: uppercase;
    line-height: 66px;
}
.home h2{
    font-size: 20px;
    color: #004165;
    margin: 25px 0 35px;
    text-align: left;
    font-weight: 100;
}

h3{
    font-size: 18px;
    color: #0094aa;
    text-align: center;
    margin: 0 0 35px;
    text-transform: uppercase;
}
.line{
    background-color: #0094aa;
    width: 84px;
    height: 2px;
    margin: 0 auto 45px;
}
.tarjetas {
    display: flex;
}
.tarjeta.uno {
    width: 25%;
    background-image: url("img/fondotrajeta2.png");
}
.tarjeta {
    width: 25%;
    background-image: url("img/fondotrajeta1.png");
}
.slider {
    display: flex;
}
.slide {
    width: 25%;
}

.container {
    max-width: 1182px;
    margin: auto;
}

.cont-home .text {
    padding-top: 165px;
    min-width: 570px;
}

.btn-whatsapp {
    background-image: url("img/btn-whatsapp.png");
    width: 296px;
    height: 60px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.section-title {
    font-size: 30px;
    color: #004165;
    margin: 0 0 35px;
    text-align: center;
    text-transform: uppercase;
}

.mt-75 {
    margin-top: 75px !important;
}
