* {
    margin: 0;
    padding: 0;
    color: #004165;
    font-family: 'Brandon Grotesque';
}

a {
    text-decoration: none;
}

nav {
    margin: 25px 0 0;
    display: flex;
    position: absolute;
    align-items: center;
}
nav img {
    margin-right: 10px;
}
nav ul {
    display: inline-flex;
}

nav li {
    list-style: none;
    text-align: center;
    color: #004165;
    font-size: 11px;
    margin: 0 27px;
    font-weight: bold;
}
.cont-home{
    display: flex;
}
.tag{
    font-size: 17px;
    margin-bottom: 15px;
}
.home {
    position: relative;
}

.home h1{
    font-size: 66px;
    color: #004165;
    text-transform: uppercase;
    line-height: 66px;
}
.home h2{
    font-size: 20px;
    color: #004165;
    margin: 25px 0 35px;
    text-align: left;
    font-weight: 100;
}

h3{
    font-size: 18px;
    color: #0094aa;
    text-align: center;
    margin: 0 0 35px;
    text-transform: uppercase;
}
.line{
    background-color: #0094aa;
    width: 84px;
    height: 2px;
    margin: 0 auto 45px;
}
.tarjetas {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tarjeta {
    padding: 30px 25px;
    width: 199px;
    height: 227px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("img/fondotrajeta1.png");
    margin: 0 20px;
    transition: all .3s;
    cursor: pointer;
}
.tarjeta:hover {
    color: #fff;
    background-image: url("img/fondotrajeta2.png");
    transform: translateY(-10px);
}
.tarjeta .title {
    font-size: 20px;
    max-width: 200px;
}
.tarjeta:hover .title {
    color: #fff;
}

.tarjeta img {
    margin: 19px 0 32px;
    display: block;
}
.tarjeta p {
    font-size: 8px;

}
.slider {
    display: flex;
}
.slide {
    width: 25%;
}

.container {
    max-width: 1182px;
    margin: auto;
}

.cont-home .text {
    padding-top: 165px;
    min-width: 570px;
}

.btn-whatsapp {
    background-image: url("img/btn-whatsapp.png");
    width: 296px;
    height: 60px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.section-title {
    font-size: 30px;
    color: #004165;
    margin: 0 0 35px;
    text-align: center;
    text-transform: uppercase;
}

.mt-75 {
    margin-top: 75px !important;
}

h2.header-subtitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 45px;
}

p.article-paragraph {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.27);
}
